:root {
    --background-color: #d9e4ff;
    --text-color: #000;
    --button-color: #faaf90;
    --button-hover: #fcc9b5;
    --top-row: #b3c7f7;
    --card-border: #8babf1;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

h2 {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

p {
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: #000;
}


button {
    background-color: var(--button-color);
    border: var(--button-color);
    border-radius: 25px;
    padding: .5rem;
    justify-content: center;
    position: relative;
}

button:hover {
    background-color: var(--button-hover)
}

.top-row {
    display: flex;
    width: auto;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: var(--top-row);
    padding: 5px;
    justify-content: space-between;
}


.btn {
    display: flex;
    flex-direction: column;
    margin: .5rem ;
    cursor: pointer;
}

.quiz {
    display: none;
    flex-direction: column;
    align-items: center;
    width: auto;
    border: solid .5rem var(--card-border);
    border-radius: 50px;
    padding: 1.5rem;
}

.scorecard {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    border: solid .5rem var(--card-border);
    border-radius: 50px;
    padding: 1.5rem;
}

.quiz-timer {
    width: auto;
}

.timer-text {
    justify-content: flex-end;
}

#quiz-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start-button {
    display: block;
    margin: 1rem;
}

#finish {
    display: none;
    background-color: var(--button-color);
}

#finish:hover {
    background-color: var(--button-hover);
}

#submit {
    background-color: lightseagreen;
    padding: .5rem;
}

#submit:hover {
    background-color: lightgreen;
}

#restart-button {
    background-color: var(--button-color);
    margin: .5rem;
}

#restart-button:hover {
    background-color: var(--button-hover);
}

#question {
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}

#answer-buttons {
    color: #000;
    justify-content: center;
    margin: 1rem;
}

